<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/2_Python_101_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.

True

True

In [2]:
False

False

In [3]:
stock_1_price = 100
stock_2_price = 200

print(stock_1_price == stock_2_price)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [51]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.

my_list = [2, 4, 5]
my_list

[2, 4, 5]

In [52]:
# Obtain the datatype

type(my_list)

list

In [53]:
# list with mixed datatypes (for example you can have strings and integers in one list)

my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [54]:
# You can have a list inside another list (nested list)

my_list = [4, 5 , [5,6,7]]
my_list

[4, 5, [5, 6, 7]]

In [55]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)

my_list = [5, 6, 'GOOG', 9]
my_list[0]

5

In [57]:
# indexing for nested lists

my_list = [4, 5 , [5,6,7, 'AAPL']]
my_list[2]

[5, 6, 7, 'AAPL']

In [59]:
my_list[2][3]

'AAPL'

In [11]:
# Negative Indexing

In [12]:
# List Slicing (getting more than one element from a list) 

# obtain elements starting from index 3 up to and not including element with index 6

In [13]:
# Obtain elements starting from index 3 to end

In [14]:
# All elements start to end

In [15]:
# Obtain the length of the list (how many elements in the list)

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

# 3. DICTIONARY

In [16]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

In [17]:
# View the dictionary

In [18]:
# Check the data type

In [19]:
# Access specific element in the dictionary using a specific key (ex: Key2)

In [20]:
# Define a dictionary for a bank client listing all his/her assets!

In [21]:
# Access elements in the dictionary

In [22]:
# Add a new item to an existing dictionary

In [23]:
# remove an item from the dictionary

In [24]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

# 4. STRINGS

In [25]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes

In [26]:
# Obtain the datatype

In [27]:
# Combining two strings together (Let's combine the first and last name of a bank's client)

In [28]:
# You can combine both strings together and add spaces in between

In [29]:
# Methods on strings 
# upper will be used to convert the string into upper case

In [30]:
# Split us used to divide up the string into words 
# The output from split is a list

In [31]:
# Let's check that the datatype is list!

In [32]:
# you can index any element in the list using indexing

In [33]:
# you can specify which letter could be choosed to perform the split

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

# 5. TUPLES

In [34]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [35]:
# Accessing elements in a tuple

In [36]:
# Tuple slicing

In [37]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment

In [38]:
# Create a New Tuple from existing Tuples

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

# 6. SETS

In [39]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

In [40]:
# set do not have duplicates

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [41]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [42]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [43]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [44]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [45]:
print(my_list[1][1])

GOOG

In [46]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [47]:
print(my_list[3])

T

In [48]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [49]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [50]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

KeyboardInterrupt: ignored

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

In [ ]:
len(my_tuple)

In [ ]:
type(my_tuple)

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)