<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/3_Python_101_Comparison%2C_Logical_Operators%2C_Conditional_Statements_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [2]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

stock_1_price = 1000
stock_2_price = 1000

stock_1_price == stock_2_price

True

In [3]:
# Greater than or equal operator '>='

stock_1_price >= stock_2_price

True

In [4]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)

stock_1_price = 10

In [5]:
stock_1_price

10

In [6]:
# Comparison operators work with strings as well

'hello' == 'Hello'

False

In [ ]:
# Both strings have to exactly match (lower case vs. upper case)

False

In [7]:
# Not equal comparison operator '!='

'hello' != 'Hello'

True

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [8]:
stock_1_price = 15
stock_2_price = 10
 
print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [10]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1

1 and 1 == 1

True

In [13]:
 0 and 1 == 0

0

In [14]:
 0 and 0 == 0

0

In [19]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 

 
1 or 1 == 1

1

In [28]:
1 or 0 == 1

1

In [22]:
0 or 1 == 1

True

In [29]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)

False or False

False

In [26]:
 True and False == False

True

In [30]:
 True or False == True

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [32]:
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

False
True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [33]:
a = 5
b = 3.5
 
print(a == b or a != b) 
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [35]:
if 10 > 9 :
  print('If condition is True')
else:
  print("If condition is False")

If condition is True

In [36]:
if 10 > 19 :
  print('If condition is True')
else:
  print("If condition is False")

If condition is False

In [37]:
if 5 == 10:
  print('If condition is True')
else:
  print("If condition is False")

If condition is False

In [39]:
if 10 > 19 :
  print('If condition1 is True')
elif 20 ==21:
  print("If condition2 is True")
else:
  print("Last statement is True")

Last statement is True

In [41]:
# Let's take an input from the user and grant or deny access accordingly

user_name = str(input('Enter your username: '))
if user_name == 'Ryan':
  print('Access granted')
else:
  print("Access denied.")

Enter your username: Ryan
Access granted

In [43]:
# Let's make the code more robust (case insensitive)

user_name = str(input('Enter your username: '))
if user_name.lower() == 'Ryan'.lower():
  print('Access granted')
else:
  print("Access denied.")

Enter your username: ryan
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [49]:
number = int(input('Enter your number: '))
if number >0:
  print("Positive")
elif number < 0:
  print('Negative')
else:
  print('Number is zero')

Enter your number: 7
Positive

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [51]:
number = int(input('Enter your number: '))
if (number % 3 == 0) and (number % 7 != 0 ):
  print('Number satisfies the requirements, number is divisible by 3 and not multiple of 7.')
else:
  print('Number does not satisfy the requirements.')

Enter your number: 9
Number satisfies the requirements, number is divisible by 3 and not multiple of 7.

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [52]:
number = int(input('Enter your number: '))
if number % 2 == 0:
  print('Number is even')
else:
  print('Number is odd')

Enter your number: 5
Number is odd

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [ ]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print( 'Finance'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print( 'Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [ ]:
# FALSE and TRUE and TRUE
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [ ]:
# TRUE or FALSE or TRUE
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [ ]:
a = 5
b = 3.5

print(a == b or a != b) # False or True = True 
print(a == b and a != b) # False and True = False

True
False

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes a number from the user and indicates if it's positive or negative or zero**

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 9
Number is Positive

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [ ]:
# Try 21

i = int(input("Enter a number between 1 and 100:"))

if (i % 3 == 0) and (i % 7 !=0):
    print("Number satisfies the requirement; The number is divisible by 3 and not multiple of 7")
else:
    print("The number does not satisfy the requirements")

Enter a number between 1 and 100:21
The number does not satisfy the requirements

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [ ]:
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2==0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000: 50
Number is Even