<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/4_Python_101_For_While_Loops%2C_Range%2C_List_Comprehension_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FOR LOOPS

In [ ]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.

my_list = [1, 2, 3]
for i in my_list:
  print(i)

1
2
3

In [ ]:
my_tuple = (2, 3, 4, 5)
for i in my_tuple:
  print(i)

2
3
4
5

In [ ]:
# you can do more than one task for every loop such as printing out 'Hello world' 

for i in my_list:
  print(i)
  print('Hello world')

1
Hello world
2
Hello world
3
Hello world

In [ ]:
# List of strings

my_list = ['AAPL', 'GOOG', 'T', 'TSLA', 'TS500']
my_list

['AAPL', 'GOOG', 'T', 'TSLA', 'TS500']

In [ ]:
for i in my_list:
  print(i)

AAPL
GOOG
T
TSLA
TS500

In [ ]:
# you can loop over a string as follows

for i in 'TSLA':
  print(i)

T
S
L
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
my_string = 'TSLA'
for i in 'TSLA':
  if i == 'T':
    print('*')
  else:
    print(i)

*
S
L
A

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# Range of numbers from 1 to 20 with steps of 2

for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:

user_min = int(input("Enter min number."))
user_max = int(input('Enter max number.'))

for i in range(user_min, user_max):
  if i % 2 == 0:
    print(i)

Enter max number.7
Enter min number.0
0
2
4
6

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for i in range(1, 11):
  print(f'{i} {i*i} {i*i*i}')

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.

i = 0 
while i<= 10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0 
while i<8:
  print(i)
  i+=2

0
2
4
6

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [ ]:
for i in range(1, 31):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
i = 1
while i <=30:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random

keep_rolling = 'y'

while keep_rolling == 'y':
  print('We are rolling the dice now...')
  dice_1 = random.randint(1, 6)
  print(f'dice 1: {dice_1}')
  dice_2 = random.randint(1, 6)
  print(f'dice 2: {dice_2}')

  keep_rolling = input('Do you want to rall again?')

We are rolling the dice now...
dice 1: 6
dice 2: 6
Do you want to rall again?y
We are rolling the dice now...
dice 1: 4
dice 2: 2
Do you want to rall again?y
We are rolling the dice now...
dice 1: 6
dice 2: 5
Do you want to rall again?n

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [ ]:
my_list = ['GOOG', 'AAPL', 'T', 'TSLA', 'SP500']

In [ ]:
my_list

['GOOG', 'AAPL', 'T', 'TSLA', 'SP500']

In [ ]:
# print out all elements in the list

for i in  my_list:
  print(i)

GOOG
AAPL
T
TSLA
SP500

In [ ]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
 
for i in my_list:
   print(i)
   if i == 'T':
     break

GOOG
AAPL
T

In [ ]:
# Print only odd elements and skip even numbers

my_list = [1, 2 , 3, 4, 5, 6, 7, 8, 9, 10]

for i in my_list:
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
keep_rolling = 'y'
count = 0
sum = 0
average = 0

while keep_rolling == 'y':
  user_number = int(input("Enter your number..."))
  count+=1
  sum += user_number
  average = sum/count
  print(f"average is: {round(average, 2)}")

  keep_rolling = input('Do you want to add number again?')

Enter your number...45
average is: 45.0
Do you want to add number again?y
Enter your number...3
average is: 24.0
Do you want to add number again?43

In [2]:
avg = 0
n = 0

while True:
  x = input('Enter a number...')

  if x == 'e':
    break

  x = int(x)
  n +=1

  avg = (avg * (n-1) + x) / n
  print(f'The current average is {avg}')

Enter a number...67
The current average is 67.0
Enter a number...89
The current average is 78.0
Enter a number...600
The current average is 252.0
Enter a number...50
The current average is 201.5
Enter a number...e

# 5. NESTED LOOPS

In [ ]:
# Nested loops are loops that exist inside the body of another loop

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

# 6. LIST COMPREHENSION

In [ ]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements

In [ ]:
# List comprehension is a super powerful one line of code!

In [ ]:
# Let's square even numbers only 
# We need to insert a condition

In [ ]:
# All this could be done with one line of code as well using List Comprehension

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

# MINI CHALLENGE SOLUTION

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
for letter in 'TSLA':
  if letter == 'T':
    print('*')
  else:
   print(letter)

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
min = int(input("Enter the price (lower bound: "))
max = int(input("Enter the price (Upper bound: "))

for i in range(min, max):
    if i%2 == 0: 
        print(i)

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that displays numbers from 1 to 30 (including 30) using for and while loops**

In [ ]:
i = 1
while (i < 31):
  print (i)
  i = i+1

In [ ]:
for i in range(1, 31):
    print(i)

**MINI CHALLENGE #5 SOLUTION:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dices, please wait!...")
    print("Rolling results for Dice #1:", random.randint(1, 6))
    print("Rolling results for Dice #2:", random.randint(1, 6))

    keep_rolling = input("Do you want to roll again?")

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [ ]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1, number+1): # slow loop 
  for y in range(1, 11):   # fast loop
   print('{} x {} = {}'.format(x, y, x*y))

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [ ]:
print('Enter a list of past 7-days prices separated by a space:')
prices = [int(x) for x in input().split()]

In [ ]:
normalized_prices = [ (i/prices[0]) for i in prices]
print('Orginal Prices: {}\nNormalized Prices: {}\n'.format(prices, normalized_prices))